$primary: #000;
$darkBlue: #020f18;
$siteBackground: #030f19;
$defaulTextColor: #fff;
$lightBg: #f0f0f0;

$darkBlack: #131016;

$color-danger: #f66e6a;
$font-default: "Libre Baskerville", serif;
$font-alternate: "PT Sans", serif;
$default-radius: 20px;

// Screen Resolution
$mobileResolution: 767px;
$tabResolution: 768px;
$ipadProResolution: 1024px;
